/* @media screen and (min-aspect-ratio: 16/9){
    body{
        background-color: black;
    }
} */
@media screen and (min-width: 1080px){
    #container{
        width: 90%;height: 1500px;
        max-width: 1024px;
        padding: 5px;
        margin: 10px auto;
        border: 1px solid #000;
    }

    #header{
        height: 100px;
        color: blue;
        background-color: darkgray;
        font-size: 48px; font-family: 標楷體;
        font-weight: 1000;
        text-align: center;
        text-shadow: 5px 5px 15px #fff;
        line-height: 50px;
        background-image: url(./棒球.jpg);
        background-size: 100%;
    }
    #content1{
        width: 25%; height:100%;
        /* color: white; */
        background-color: lightgray;
        /* font-size: 24px; text-align: center; */
        /* line-height: 300px; */
        float: left;
    }
    #content2{
        width: 25%; height: 100%;
        /* color: lightgray; */
        background-color: rgb(245, 245, 185);
        /* font-size: 24px; text-align: center; */
        /* line-height: 300px; */
        float: left;
    }
    #content3{
        width: 25%; height: 100%;
        /* color: white; */
        background-color: rgb(172, 245, 123);
        /* font-size: 24px; text-align: center; */
        /* line-height: 300px; */
        float: left;
    }
    #content4{
        width: 25%; height: 100%;
        /* color: lightgray; */
        background-color: rgb(78, 246, 252);
        /* font-size: 24px; text-align: center; */
        /* line-height: 300px; */
        float: left;
    }
    
    #footer{
        height: 50px;
        color: white;
        background-color: darkgray;
        font-size: 24px; text-align: center;
        line-height: 50px;
        clear: both;
    }
}
@media screen and (max-width:1079px){
    #container{
        width: 90%; height: 1300px;
        padding: 5px;
        margin: 10px auto;
        border: 1px solid #000;
    }
    #header{
        height: 100px;
        color: blue;
        background-color: darkgray;
        font-size: 48px; font-family: 標楷體;
        font-weight: 1000;
        text-align: center;
        text-shadow: 5px 5px 15px #fff;
        line-height: 50px;
        background-image: url(./棒球.jpg);
        background-size: 100%;
    }
    #content1{
        width: 50%; height: 100%;
        /* color: white; */
        background-color: lightgray;
        /* font-size: 24px; text-align: center; */
        line-height: 1em;
        float: left;
    }
    #content2{
        width: 50%; height: 100%;
        /* color: lightgray; */
        background-color: rgb(245, 245, 185);
        /* font-size: 24px; text-align: center; */
        line-height: 1em;
        float: left;
    }
    #content3{
        width: 50%; height: 100%;
        /* color: lightgray; */
        background-color: rgb(172, 245, 123);
        /* font-size: 24px; text-align: center; */
        line-height: 1em;
        float: left;
    }
    #content4{
        width: 50%; height: 100%;
        /* color: white; */
        background-color: rgb(78, 246, 252);
        /* font-size: 24px; text-align: center; */
        line-height: 1em;
        float: left;
    }
    #footer{
        height: 50px;
        color: white;
        background-color: darkgray;
        font-size: 24px; text-align: center;
        line-height: 50px;
        clear: both;
    }
    
}
@media screen and (max-width:480px){
    #container{
        width: 90%;
        padding: 5px;
        margin: 10px auto;
        border: 1px solid #000;
    }
    #header{
        height: 100px;
        color: blue;
        background-color: darkgray;
        font-size: 48px; font-family: 標楷體;
        font-weight: 1000;
        text-align: center;
        text-shadow: 5px 5px 15px #fff;
        line-height: 50px;
        background-image: url(./棒球.jpg);
        background-size: 100%;
    }
    #content1{
        /* height: 150px; */
        width: 100%;
        /* color: white; */
        /* background-color: lightgray; */
        /* font-size: 24px; text-align: center; */
        line-height: 1em;
    }
    #content2{
        /* height: 150px; */
        width: 100%;
        /* color: lightgray; */
        background-color: rgb(245, 245, 185);
        /* font-size: 24px; text-align: center; */
        line-height: 1em;
    }
    #content3{
        /* height: 150px; */
        width: 100%;
        /* color: white; */
        background-color: rgb(172, 245, 123);
        /* font-size: 24px; text-align: center; */
        line-height: 1em;
    }
    #content4{
        /* height: 150px; */
        width: 100%;
        /* color: lightgray; */
        background-color: rgb(78, 246, 252);
        /* font-size: 24px; text-align: center; */
        line-height: 1em;
    }
    #footer{
        height: 50px;
        color: white;
        background-color: darkgray;
        font-size: 24px; text-align: center;
        line-height: 50px;
    }
    
}